body {
    background-image: linear-gradient(to bottom, #536db0, #5183c1, #5398cf, #5daddb, #6dc2e5);
    margin: auto;
    max-width: 1000px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
  }
  
  header {
    padding: 2rem 0;
  }

  outer {
    border: 2px dashed #e5e5cb;
    width: 5000px;
    min-height: 200px;
    padding: 100px;
    display: flex;
    gap: 1rem;
  }

  h1 {
    
    
        font-family: "Gruppo", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 80;
        text-align: left;
        color: F8F0E8;
       
  }
  h2 {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;    
    font-size: 40;
    text-align: left;
    color: FF9A8D;
    }
   

h3 {
    font-family: "Questrial", sans-serif;
    font-weight: 1500;
    font-style: normal;
    text-align: center;
    color: FF9A8D;
}
   h4{
        font-family: "Questrial", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: F8F0E8;
      }
     
   

  
  
  ul {
    margin: 10;
    padding: 10;
    min-height: 150px;
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
  }

  .img-Boat{
    width: max-content;
    height: max-content;
  }
